# Data Science In Python - Assignment 1

Name:                  - Daniel Lenehan
Student number:        - 15499152
    
Dataset link:          - https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD

Adding in all the imports I'll need for cleaning and creating visualistaions.

In [1]:
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
%matplotlib inline

Loading the a reading the data. To note this police records file has over 6.4 million files so some of the operations i preform
on the dataset take quite a long time to process. So I might use only some of the data for the data visualisations after I have 
cleaned the dataset.

In [2]:
# Ensure the file exists
if not os.path.exists( "crimes_CH.csv" ):
    print("Missing dataset file")

In [3]:
df_full = pd.read_csv( "crimes_CH.csv" )

Getting an idea of what the dataset looks like. Looking espeically at the various fields. Do they have spaces between the field
titles? What fields are likely to have null or invalid/ incorrect values?

In [4]:
df_full.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [5]:
df_full.isnull().sum()

ID                            0
Case Number                   4
Date                          0
Block                         0
IUCR                          0
Primary Type                  0
Description                   0
Location Description       3204
Arrest                        0
Domestic                      0
Beat                          0
District                     51
Ward                     614853
Community Area           616029
FBI Code                      0
X Coordinate              56567
Y Coordinate            2826419
Year                          0
Updated On                    0
Latitude                2826419
Longitude               2826419
Location                2826419
dtype: int64

There are quite alot of null values in this data set. Most notably the location fields (location , longitude and latitude). I feel 
that these location feilds are very important so I'll have to figure out reasonable data to fill these null cases with.

The line below gets rid of all the spaces between field titles and replaces them 
with underscores.

In [6]:
df_full.columns = df_full.columns.str.replace('\s+', '_')

The line below changes the null values to "Unknown" for the Case_Number and Location_Description fields and
changes the Ward, District and Community_Area fieds to 0 where null is found. 
There are null values for latitude, longtitude and location however they will be altered later as filling in a random value or just 0 i feel is'nt good enough.

In [7]:
new_df = df_full.fillna({
    'Case_Number' : 'UNKNOWN',
    'Location_Description' : 'UNKNOWN',
    'District' : 0,
    'Ward' : 0,
    'Community_Area' : 0
})

Checking all the types of the fields. Can some of them be changed?

In [8]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6542968 entries, 0 to 6542967
Data columns (total 22 columns):
ID                      int64
Case_Number             object
Date                    object
Block                   object
IUCR                    object
Primary_Type            object
Description             object
Location_Description    object
Arrest                  bool
Domestic                bool
Beat                    int64
District                float64
Ward                    float64
Community_Area          float64
FBI_Code                object
X_Coordinate            float64
Y_Coordinate            float64
Year                    int64
Updated_On              object
Latitude                float64
Longitude               float64
Location                object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1010.9+ MB

Below I'm checking to see all the unique values for district and ward to see the number of each.

In [9]:
sorted(new_df['Ward'].unique())

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0]

In [10]:
sorted(new_df['District'].unique())

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 24.0,
 25.0,
 31.0]

Because there are no decimal point values in the Ward, District or Community_Area column there is no need for the type to be float so I decided to change the filed type to integer.

In [11]:
new_df['Ward']= new_df.Ward.astype(int)
new_df['District']= new_df.District.astype(int)
new_df['Community_Area']= new_df.Community_Area.astype(int)

The block below shows that there are some duplicates in the case numbers. At 
first I thought that this could be multiple people arrested for the same crime resulting in the same case number 
under the record, however I could not prove this so in the foolowing lines I just removed these duplicates from the dataset.

In [12]:
if new_df.Case_Number.nunique() < len(new_df.index):
    print("There is " + str(len(new_df.index) - new_df.Case_Number.nunique()) + " duplicate case numbers", )

There is 387 duplicate case numbers

In [13]:
newest_df = new_df.drop_duplicates(subset='Case_Number', keep="last")

I dropped the rows with duplicates and then made sure the rows were deleted.

In [14]:
newest_df[newest_df.duplicated(['Case_Number'],keep=False)]

Empty DataFrame
Columns: [ID, Case_Number, Date, Block, IUCR, Primary_Type, Description, Location_Description, Arrest, Domestic, Beat, District, Ward, Community_Area, FBI_Code, X_Coordinate, Y_Coordinate, Year, Updated_On, Latitude, Longitude, Location]
Index: []

[0 rows x 22 columns]

In [15]:
sorted(newest_df['District'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 24,
 25,
 31]

Previously I had changed any district with a null value to 0 so that all the rows/ cases with no district would be grouped into
the 0 district category which will just represent 'other'.
District 31 is not a valid District so I wiil change all of the rows with district 31 to 0 so all of these rows/ cases will just
have this 0 district value. It is important that every case has a district for later on in the visualisation part of the assingment. Also district 21 was included in the dataset however it is not a real district in chicago and is therefore invalid. 
So like district 31 we cannot tell what district this was meant to be so we add it to the 0 or 'other' district we created.

In [16]:
newest_df.ix[newest_df.District == 31, 'District'] = 0
newest_df.ix[newest_df.District == 21, 'District'] = 0

C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\Daniel\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [17]:
sorted(newest_df['District'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 22,
 24,
 25]

This next piece of code is the most drastic clean I will preform on this dataset. For any rows/ cases will null values for the 
longitude, latitude or location field will have those three fields filled with the average longitude, latitude and location 
of that specific district that row belongs to.

First I calcualte the mean or average of all longtitudes and latitudes of all the cases in each district.

In [18]:
lat_df = newest_df.groupby('District', as_index=False)['Latitude'].mean()
long_df = newest_df.groupby('District', as_index=False)['Longitude'].mean()

In [19]:
print(lat_df)

    District   Latitude
0          0  41.928052
1          1  41.873494
2          2  41.811144
3          3  41.771251
4          4  41.733935
5          5  41.687407
6          6  41.745410
7          7  41.775717
8          8  41.777851
9          9  41.815164
10        10  41.853595
11        11  41.882342
12        12  41.880361
13        14  41.916070
14        15  41.886183
15        16  41.964777
16        17  41.960057
17        18  41.902362
18        19  41.947658
19        20  41.978465
20        22  41.708725
21        24  42.005816
22        25  41.918912

Then I add these values for the longitude and latitude columns of these datasets to lists.

In [20]:
latList = lat_df['Latitude'].tolist()
longList = long_df['Longitude'].tolist()

In [21]:
print(len(latList), len(longList))

23 23

As you can see above each list has a length of 25. The police districts are numbered from 1 - 25. As I said before 0 will  represent all the cases that were not given a district or given an invalid district so the mean for this group will be less accurate however it is the 
best we can do with the information given. 
As you will also notice above there is no district 13, 21 or 23 as these numbers are not districts in chicago.

In [22]:
print(latList)

[41.92805215416104, 41.873494118166356, 41.811144111901946, 41.771251445643415, 41.733934685509126, 41.687407192626935, 41.745410088985246, 41.775717198620725, 41.77785060251526, 41.81516375948714, 41.85359500004515, 41.882342311245615, 41.880360585457595, 41.91607029296745, 41.88618256506988, 41.9647765795528, 41.96005686971069, 41.902362394159304, 41.94765782637979, 41.9784651644649, 41.70872532504954, 42.00581596360219, 41.91891151467083]

Now in the next code I create a list which contains the avergae locations for each district. A location being a longitude
and latitude number

In [23]:
locArray = []
for x in range(len(latList)):
        locArray.append("(" + str(latList[x]) + ", " + str(longList[x]) + ")"  )

In [24]:
print(locArray)

['(41.92805215416104, -87.79489922154237)', '(41.873494118166356, -87.62906397107707)', '(41.811144111901946, -87.61315520369297)', '(41.771251445643415, -87.59662968977142)', '(41.733934685509126, -87.56367942829313)', '(41.687407192626935, -87.62269980634503)', '(41.745410088985246, -87.63262095949733)', '(41.775717198620725, -87.65378631124018)', '(41.77785060251526, -87.7154483608114)', '(41.81516375948714, -87.66518984099851)', '(41.85359500004515, -87.71271974568471)', '(41.882342311245615, -87.71927809139882)', '(41.880360585457595, -87.67193673103894)', '(41.91607029296745, -87.69332301320354)', '(41.88618256506988, -87.75814172506271)', '(41.9647765795528, -87.79800412980333)', '(41.96005686971069, -87.72079468158529)', '(41.902362394159304, -87.63530007245573)', '(41.94765782637979, -87.66004534223359)', '(41.9784651644649, -87.67195431385761)', '(41.70872532504954, -87.65862840848807)', '(42.00581596360219, -87.67766855467765)', '(41.91891151467083, -87.7524105932246)']

In [25]:
print(latList)

[41.92805215416104, 41.873494118166356, 41.811144111901946, 41.771251445643415, 41.733934685509126, 41.687407192626935, 41.745410088985246, 41.775717198620725, 41.77785060251526, 41.81516375948714, 41.85359500004515, 41.882342311245615, 41.880360585457595, 41.91607029296745, 41.88618256506988, 41.9647765795528, 41.96005686971069, 41.902362394159304, 41.94765782637979, 41.9784651644649, 41.70872532504954, 42.00581596360219, 41.91891151467083]

Here I am checking again the number of null values across the fields. This will change soon for the location, longitude and 
laititude fields. The goal of having locations or at least rough locations for all cases.

In [26]:
newest_df.isnull().sum()

ID                            0
Case_Number                   0
Date                          0
Block                         0
IUCR                          0
Primary_Type                  0
Description                   0
Location_Description          0
Arrest                        0
Domestic                      0
Beat                          0
District                      0
Ward                          0
Community_Area                0
FBI_Code                      0
X_Coordinate              56560
Y_Coordinate            2826410
Year                          0
Updated_On                    0
Latitude                2826410
Longitude               2826410
Location                2826410
dtype: int64

This is the code that fills in all the empty/ null values for the threelocation fields. There are districts numbered 1 -25 in Chicago. 
They are broken up into districts because there is a head police station in each of these districts. 
However there is no district 13, 23 or 21 so I have to take this into account in my fiiling of the fields below. 
To note: This block takes ver 20 minutes to run.

In [27]:
for x in range(len(newest_df)):
    index = newest_df.iloc[x].name 
    #Here i create a varaible for the index and all of the location fields i'll need 
    district = newest_df['District'].iloc[x]
    location = newest_df['Location'].iloc[x]
    longitude = newest_df['Longitude'].iloc[x]
    latitude = newest_df['Latitude'].iloc[x]

    # there are the conditions I have in order to fill these location fields
    
    if(pd.isnull(location) or pd.isnull(latitude) or pd.isnull(longitude) and district != 21):
        # from district 0 -> 12 the index of each list will match up with the district number 
        if(district >= 0 and district <= 12):
            newest_df.set_value(index, 'Location', locArray[district])
            newest_df.set_value(index, 'Longitude', longList[district])
            newest_df.set_value(index, 'Latitude', latList[district])
        
        # from district 14 -> 20 the districts location varaibles will be in the index value 1 less than the district number
        # this as I said above is because disrict 13 does not exist in chicago so all the districts are moved up 1 index
        if(district >= 14 and district <= 20):
            newest_df.set_value(index, 'Location', locArray[district - 1])
            newest_df.set_value(index, 'Longitude', longList[district - 1])
            newest_df.set_value(index, 'Latitude', latList[district - 1])
        
        # the fact that disrict 21 does also not exist means the index value will be 2 less than district number 22
        if(district == 22):
            newest_df.set_value(index, 'Location', locArray[district - 2])
            newest_df.set_value(index, 'Longitude', longList[district - 2])
            newest_df.set_value(index, 'Latitude', latList[district - 2])            
        
        # as prevoiusly stated district 21 and 23 does not exist so the index will now be 3 behind the actual district number
        if(district == 24 or district == 25):
            newest_df.set_value(index, 'Location', locArray[district - 3])
            newest_df.set_value(index, 'Longitude', longList[district - 3])
            newest_df.set_value(index, 'Latitude', latList[district - 3])

Here I check just to see that the null values have been removed for the location fields (location, longitude, latitude)

In [28]:
newest_df.isnull().sum()

ID                            0
Case_Number                   0
Date                          0
Block                         0
IUCR                          0
Primary_Type                  0
Description                   0
Location_Description          0
Arrest                        0
Domestic                      0
Beat                          0
District                      0
Ward                          0
Community_Area                0
FBI_Code                      0
X_Coordinate              56560
Y_Coordinate            2826410
Year                          0
Updated_On                    0
Latitude                      0
Longitude                     0
Location                      0
dtype: int64

Now all the fields have values clean values that I'm happy with apart for the x and y coord fields. I will removed them because 
I don't deem them to be relevant due to the fact we already have three fields for location with no null values.

In [29]:
newest_df.drop('X_Coordinate', axis=1, inplace=True)
newest_df.drop('Y_Coordinate', axis=1, inplace=True)

C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

The new table without the x and y coordinate fields.

In [30]:
newest_df.head(5)

,ID,Case_Number,Date,Block,IUCR,Primary_Type,Description,Location_Description,Arrest,Domestic,Beat,District,Ward,Community_Area,FBI_Code,Year,Updated_On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,1111,11,28,25,04B,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,725,7,15,67,26,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,222,2,4,39,08B,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,225,2,3,40,08B,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,1113,11,28,25,03,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

Checking that there are no more null values in the dataset.

In [32]:
newest_df.isnull().sum()

ID                      0
Case_Number             0
Date                    0
Block                   0
IUCR                    0
Primary_Type            0
Description             0
Location_Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community_Area          0
FBI_Code                0
Year                    0
Updated_On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

In [34]:
newest_df.to_csv('cleanedCrimeFile.csv')